.header {
  background-color: var(--background-color-1);
  position: absolute;
  width: 100%;
}

.headerText {
  grid-column: m1-end / m2-start;
  letter-spacing: 0.5rem;
  padding: 3rem 0 3rem;
  width: 100%;
  text-align: end;
  font-size: var(--font-size-body);
  line-height: var(--line-height-body);
  font-weight: bold;
}
