.dateText {
  font-size: var(--font-size-small-print);
  line-height: var(--line-height-small-print);
  grid-column: 1;
  align-self: end;
}

.text {
  font-weight: bold;
  font-size: var(--font-size-body-large);
  line-height: var(--line-height-body-large);
  grid-column: 1;
}

.subText {
  font-size: var(--font-size-body);
  line-height: var(--line-height-body);
  grid-column: 1;
}

.bannerContainer {
  grid-column: m1-start / m2-end;
  margin: 0 0 12rem 1rem;
}

@media (min-width: 768px) {
  .bannerContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1rem;
    margin: 1rem 1rem 12rem;
  }
}

.bannerWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  height: 184px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  margin-bottom: 1rem;
}

.bannerTextWrapper {
  display: grid;
  margin: 0.5rem 1rem;
  grid-column-gap: 1rem;
  align-items: center;
  grid-template-rows: 1fr auto 1fr;
}

.simplyBeInternational {
  background-image: url("/images/simplybe-international.png");
  background-color: #d3d7d6;
}

.simplyBe {
  background-image: url("/images/simplybe.png");
  background-color: #f7eae4;
}

.jacamo {
  background-image: url("/images/jacamo.png");
  background-color: #a6bac1;
}

.jdwilliams {
  background-image: url("/images/jdwilliams.png");
  background-color: #f4efe9;
}
