.coverSlotContent {
  height: calc(100vh - var(--header-height));
  background-color: var(--background-color-1);
}

.coverSlot {
  grid-column: m1-end / m2-start;
  align-self: center;
  padding-bottom: var(--header-height);
}

.salutationWrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-row: 2;
  align-self: baseline;
}

.salutationText {
  font-family: "Noto", Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: var(--font-size-display);
  line-height: var(--line-height-display);
  margin-bottom: 0.5rem;
}

.galleryContent {
  background-color: var(--background-color-2);
  padding: var(--vertical-spacing) 0 var(--vertical-spacing);
}

.galleryHeading {
  grid-column: m1-end / m2-start;
  color: var(--font-color-2);
}

.gallerySubHeading {
  grid-column: m1-end / m2-start;
  color: var(--font-color-2);
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.galleryPreviewsWrapper {
  grid-column: m1-end / m2-start;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

@media (min-width: 768px) {
  .galleryPreviewsWrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1024px) {
  .galleryPreviewsWrapper {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.galleryPreviewImage {
  height: auto;
}

.aboutContent {
  margin: var(--vertical-spacing) 0 var(--vertical-spacing);
}

@media (min-width: 768px) {
  .aboutContent {
    grid-template-rows: 48px auto;
  }
}

.aboutHeading {
  grid-column: m1-end / m2-start;
  margin: var(--vertical-spacing) 0 1rem;
}

@media (min-width: 768px) {
  .aboutHeading {
    grid-column: g5 / m2-start;
    grid-row: 1;
    margin-top: 0;
  }
}

@media (min-width: 1024px) {
  .aboutHeading {
    grid-column: g8 / m2-start;
  }
}

.aboutImageWrapper {
  grid-column: m1 / g4-end;
  position: relative;
}

@media (min-width: 768px) {
  .aboutImageWrapper {
    grid-column: c1 / c4;
    grid-row: 1 / span 2;
  }
}

@media (min-width: 1024px) {
  .aboutImageWrapper {
    grid-column: c2 / g6;
  }
}

.aboutImage {
  position: relative;
  z-index: 2;
  filter: drop-shadow(1rem 1rem 0 var(--shadow-1));
}

.aboutText {
  grid-column: g1-start / m2-start;
  font-size: var(--font-size-body-small);
  line-height: var(--line-height-body-small);
}

@media (min-width: 768px) {
  .aboutText {
    grid-column: c6 / c12;
    grid-row: 2;
    font-size: var(--font-size-body);
    line-height: var(--line-height-body);
  }
}

@media (min-width: 1024px) {
  .aboutText {
    grid-column: c9 / c17;
  }
}
