.coverSlotContent {
  height: calc(100vh - var(--header-height));
  background-color: var(--background-color-1);
}

.coverSlot {
  grid-column: m1-end / m2-start;
  align-self: center;
  padding-bottom: var(--header-height);
}
