.headerWrapper {
  grid-column: m1 / m2-start;
  justify-self: end;
  padding: 3rem 0 3rem;
  background-color: var(--background-color-1);
}

.footerWrapper {
  background-color: var(--background-color-2);
}
