.coverSlotContent {
  height: 100vh;
  grid-template-rows: min-content auto;
  background-color: var(--background-color-1);
}

.coverSlot {
  grid-column: m1-end / m2-start;
  grid-row: 2;
  align-self: center;
  padding-bottom: var(--header-height);
}

.footerWrapper {
  background-color: var(--background-color-2);
}
