.footer {
  margin: 2rem 0;
  grid-column: m1-end / m2-start;
  display: grid;
  grid-template-columns: min-content min-content;
  gap: 1rem;
}

.footerLink {
  font-size: var(--font-size-print);
  line-height: var(--line-height-print);
  color: var(--color-white);
}
