.galleryPreview {
  position: relative;
}

.textWrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: grid;
  justify-content: center;
  align-content: center;
  height: 100%;
}

.heading {
  font-size: var(--font-size-display);
  line-height: var(--line-height-display);
  font-weight: bold;
  color: var(--font-color-2);
  text-align: center;
  margin: 0 1rem;
}

.subHeading {
  color: var(--font-color-2);
  text-align: center;
  font-weight: bold;
}

.text {
  font-size: var(--font-size-body-small);
  line-height: var(--line-height-body-small);
  color: var(--font-color-2);
  text-align: center;
  position: absolute;
  bottom: 1rem;
  width: 100%;
}
