.coverSlotContent {
  height: calc(100vh - var(--header-height));
  background-color: var(--background-color-1);
}

.coverSlot {
  grid-column: m1-end / m2-start;
  align-self: center;
  display: grid;
  grid-template-rows: auto 100%;
  margin-top: calc(-1 * var(--header-height));
}

.supHeadingText {
  font-size: var(--font-size-body);
  line-height: var(--line-height-body);
}

.headingText {
  font-size: var(--font-size-display-small);
  line-height: var(--line-height-display-small);
  font-weight: bold;
}

.subHeadingText {
  font-size: var(--font-size-body-small);
  line-height: var(--line-height-body-small);
}

.subFooterWrapper {
  grid-row: 3;
  align-self: flex-end;
  margin-bottom: 2rem;
}

.subFooterHeadingText {
  text-transform: uppercase;
  font-size: var(--font-size-print);
  line-height: var(--line-height-print);
  margin-bottom: 0.5rem;
}

.heading2 {
  grid-column: m1-end / m2-start;
  margin: var(--spacing-1) 0 1rem;
}

.text {
  grid-column: g1 / m2-start;
  font-size: var(--font-size-body-small);
  line-height: var(--line-height-body-small);
  margin-bottom: 1rem;
}

.text + .heading2 {
  margin-top: var(--spacing-0);
}

.quote {
  grid-column: fm1 / fm2;
  font-weight: bold;
}

.quote > .text {
  text-align: center;
  padding: var(--spacing-1);
  margin: 0;
  font-size: var(--font-size-body);
  font-weight: bold;
  line-height: var(--line-height-body);
}

.image {
  grid-column: fm1 / fm2;
  margin-top: var(--spacing-1);
}

.quote + .image {
  margin-top: 0;
}

.simplybeIntl .quote .text {
  background-color: var(--sbi-banner-color-1);
  color: var(--color-white);
}

.simplybeIntl > img:last-of-type + .quote > .text {
  background-color: var(--sbi-banner-color-2);
  color: var(--color-black);
}

.simplybe .quote .text {
  background-color: var(--dal-banner-color-1);
  color: var(--color-white);
}

.simplybe > img:last-of-type + .quote > .text {
  background-color: var(--dal-banner-color-2);
  color: var(--color-black);
}

.jacamo .quote .text {
  background-color: var(--cgn-banner-color-1);
  color: var(--color-white);
}

.jacamo > img:last-of-type + .quote > .text {
  background-color: var(--cgn-banner-color-2);
  color: var(--color-black);
}

.jdwilliams .quote .text {
  background-color: var(--jdw-banner-color-1);
  color: var(--color-white);
}

.jdwilliams > img:last-of-type + .quote > .text {
  background-color: var(--jdw-banner-color-2);
  color: var(--color-black);
}
