.coverSlotContent {
  height: 100vh;
  background-color: var(--background-color-1);
}

.coverSlot {
  grid-column: fm1 / fm2;
  align-self: center;
  display: grid;
  height: 100vh;
  grid-template-rows: 150px auto 150px;
}

@media (min-width: 1024px) {
  .coverSlot {
    grid-column: m1-end / m2-start;
  }
}

.article {
  grid-row: 2;
  align-self: center;
  margin: 0 2rem;
}

@media (min-width: 1024px) {
  .article {
    margin: 0;
  }
}

.supHeadingText {
  font-size: var(--font-size-body);
  line-height: var(--line-height-body);
}

.headingText {
  font-size: var(--font-size-display-small);
  line-height: var(--line-height-display-small);
  font-weight: bold;
}

.subHeadingText {
  font-size: var(--font-size-body-small);
  line-height: var(--line-height-body-small);
}

.subFooterWrapper {
  grid-row: 3;
  align-self: flex-end;
  margin-bottom: 2rem;
  display: grid;
}

.subFooterHeadingText {
  text-transform: uppercase;
  font-size: var(--font-size-print);
  line-height: var(--line-height-print);
  margin-bottom: 0.5rem;
  margin-left: 2rem;
}

@media (min-width: 1024px) {
  .subFooterHeadingText {
    margin-left: 0;
  }
}

.heading {
  grid-column: m1-end / m2-start;
  margin: var(--spacing-1) 0 1rem;
}

@media (min-width: 768px) {
  .heading {
    grid-column: g1/ m2-start;
  }
}

@media (min-width: 1024px) {
  .heading {
    grid-column: c1/ c5;
    margin-bottom: 0;
  }
}

.text {
  grid-column: g1 / m2-start;
  font-size: var(--font-size-body-small);
  line-height: var(--line-height-body-small);
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .text {
    grid-column: c3 / c10;
    font-size: var(--font-size-body);
    line-height: var(--line-height-body);
  }
}

@media (min-width: 1024px) {
  .text {
    grid-column: c6/ c18;
  }

  .heading + .text {
    margin-top: var(--spacing-1);
  }

  .text + .heading + .text {
    margin-top: var(--spacing-0);
  }
}

.text + .heading {
  margin-top: var(--spacing-0);
}

.quote {
  grid-column: fm1 / fm2;
  font-weight: bold;
}

.quote > .text {
  text-align: center;
  padding: var(--spacing-0) 2rem;
  margin: 0;
  font-weight: bold;
  font-size: var(--font-size-body);
  line-height: var(--line-height-body);
}

@media (min-width: 768px) {
  .quote > .text {
    padding: var(--spacing-1);
  }
}

@media (min-width: 1024px) {
  .quote > .text {
    padding: var(--spacing-2) 16rem;
    font-size: var(--font-size-body-large);
    line-height: var(--line-height-body-large);
  }
}

.image {
  grid-column: fm1 / fm2;
  margin-top: var(--spacing-1);
}

.quote + .image {
  margin-top: 0;
}

.simplybeIntl .quote .text {
  background-color: var(--sbi-banner-color-1);
  color: var(--color-white);
}

.simplybeIntl > img:last-of-type + .quote > .text {
  background-color: var(--sbi-banner-color-2);
  color: var(--color-black);
}

.simplybe .quote .text {
  background-color: var(--dal-banner-color-1);
  color: var(--color-white);
}

.simplybe > img:last-of-type + .quote > .text {
  background-color: var(--dal-banner-color-2);
  color: var(--color-black);
}

.jacamo .quote .text {
  background-color: var(--cgn-banner-color-1);
  color: var(--color-white);
}

.jacamo > img:last-of-type + .quote > .text {
  background-color: var(--cgn-banner-color-2);
  color: var(--color-black);
}

.jdwilliams .quote .text {
  background-color: var(--jdw-banner-color-1);
  color: var(--color-white);
}

.jdwilliams > img:last-of-type + .quote > .text {
  background-color: var(--jdw-banner-color-2);
  color: var(--color-black);
}
