.article {
  position: relative;
  grid-row: 2;
  align-self: baseline;
}

.supHeadingText {
  font-size: var(--font-size-body);
  line-height: var(--line-height-body);
}

.headingText {
  font-size: var(--font-size-display-small);
  line-height: var(--line-height-display-small);
  font-weight: bold;
}

.subHeadingText {
  font-size: var(--font-size-body-small);
  line-height: var(--line-height-body-small);
}

.subFooterWrapper {
  grid-row: 3;
  align-self: flex-end;
  margin-bottom: 2rem;
}

.subFooterHeadingText {
  text-transform: uppercase;
  font-size: var(--font-size-print);
  line-height: var(--line-height-print);
  margin-bottom: 0.5rem;
}

.articleImage {
  grid-column: fm1 / fm2;
}
