:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --font-color-1: var(--color-black);
  --font-color-2: var(--color-white);
  --background-color-1: #dde7f3;
  --background-color-2: #212121;
  --shadow-1: #b0b8c8;
  --pill-background-color: #3b3b3b;

  /* simplybe international */
  --sbi-banner-color-1: #212121;
  --sbi-banner-color-2: #ffe4e4;

  /* simplybe */
  --dal-banner-color-1: #212121;
  --dal-banner-color-2: #f2efda;

  /* jacamo */
  --cgn-banner-color-1: #212121;
  --cgn-banner-color-2: #e4f2da;

  /* jdwilliams */
  --jdw-banner-color-1: #212121;
  --jdw-banner-color-2: #e6eef2;
}
