.displayHeading {
  grid-column: m1-end / m2-start;
  font-family: "Pacifico", sans-serif;
  font-size: var(--font-size-display);
  line-height: var(--line-height-display);
  margin-bottom: 0.5rem;
}

.displayHeadingSubText {
  grid-column: m1-end / c4-end;
  font-size: var(--font-size-body);
  line-height: var(--line-height-body);
  margin-bottom: 4rem;
}
