:root {
  --font-size-print: 0.625rem; /* 10px */
  --font-size-body-small: 0.75rem; /* 12px */
  --font-size-body: 1rem; /* 16px */
  --font-size-body-large: 1.5rem; /* 24px */
  --font-size-display-small: 2.25rem; /* 36px */
  --font-size-display: 3rem; /* 48px */
  --line-height-print: 1rem; /* 16px */
  --line-height-body-small: 1.25rem; /* 20px */
  --line-height-body: 1.5rem; /* 24px */
  --line-height-body-large: 2.25rem; /* 36px */
  --line-height-display-small: 3.375rem; /* 54px */
  --line-height-display: 4rem; /* 64px */

  /* custom typography */
  --font-size-article-heading: var(--font-size-body-large);
  --line-height-article-heading: var(--line-height-body-large);
}

h2 {
  font-size: var(--font-size-article-heading);
  line-height: var(--line-height-article-heading);
}

h3 {
  font-size: var(--font-size-body);
  line-height: var(--line-height-body);
}
