:root {
  --font-size-small-print: 0.625rem; /* 10px */
  --font-size-body-small: 0.75rem; /* 12px */
  --font-size-body: 1rem; /* 16px */
  --font-size-body-large: 1.25rem; /* 24px */
  --font-size-display: 2rem; /* 32x */

  --line-height-small-print: 1rem; /* 16px */
  --line-height-body-small: 1.25rem; /* 20px */
  --line-height-body: 1.5rem; /* 24px */
  --line-height-body-large: 1.86rem; /* 30px */
  --line-height-display: 2.5rem; /* 40px */
}
